// @import 'bar/foo.import.styl'
// @import '../packagkes/stylus-mixins/'

// @import 'app'

// body
//   padding 20px 40px


// .hello
//   > button
//     margin-bottom 10px


// .ctrl
//   background darken(white, 3%)
//   border solid 1px darken(white, 10%)
//   margin 10px
//   padding 10px
//   border-radius 5px

//   bg-red()
